<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
		<link rel="stylesheet" type="text/css" href="resume.css">
		<script src="https://kit.fontawesome.com/d4b3f7b90f.js" crossorigin="anonymous"></script>
</head>
<body>
	<header id="body-header">
		<nav>
			<ul class="horizontal-list text-center nav-menu">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#skills">Skills</a>
				</li>
				<li>
					<a href="#experience">Experience</a>
				</li>
				<li>
					<a href="#education">Education</a>
				</li>
				<li>
					<a href="#portfolio">Portfolio</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</nav>
		<div id="name-social-container">
			<div class="text-center">
				<h1 id="my-name">Sudhanshu Chaudhary</h1>
			</div>
			<div>
				<ul class="horizontal-list text-center social-icons">
					<li>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
					</li>
					<li>
						<a href=""><i class="fab fa-github"></i></a>
					</li>
					<li>
						<a href="#"><i class="fab fa-google-plus-g"></i></a>
					</li>
					<li>
						<a href="#"><i class="fab fa-telegram"></i></a>
					</li>
					<li>
						<a href=""><i class="fab fa-facebook-square"></i></a>
					</li>
					
					
				</ul>
			</div>
		</div>
	</header>
	<main>
		<section id="about">
			<div id="my-image">
				<img src="https://pbs.twimg.com/profile_images/647204840259588096/0ZaIRaS7_400x400.jpg">
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
		<section id="skills"></section>
		<section id="experience"></section>
		<section id="education"></section>
		<section id="portfolio"></section>	
		<section id="contact"></section>
	</main>
</body>
</html>